<html>
  <head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% load static %}
    <script src="{% static 'gui/application.js' %}"></script>
    <title>ABI2GUI</title>
  </head>
  <body>
    <div class="page-header">
      <h1><a href="/">ABI2GUI</a></h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
